 
 body {
  margin: 20px;
  background: linear-gradient(to right, #beaeb5, #808da1);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 15px;
}

li {
  float: left;
  border-right: 1px solid black;
}

li:first-child {
  border-right: none;
  font-size: 25px;
  border-bottom: solid black;
  border-radius: 100px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

li:first-child a:hover{
    background-color: transparent;
}
h2 {
	text-align: center;
    font-size: 35px;
    color: black;
}

p {
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    color: black;

}
.imgs {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 50px;
}

.img {
  padding-top: 20px;
  padding-right: 20px;
  width: 400px;
  height: 400px;
  border-radius: 90%;
  
}
.img1 {
  padding-top: 20px;
  width: 400px;
  height: 400px;
  border-radius: 20%;
  
}